/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Arial", sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #ffe6ff; /* Light pink */
    padding: 100px;
    /* border: 5px solid #ff80bf; Barbie pink border */
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    background-color: white; /* White background */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    position: relative;
}

#loader {
    position: absolute;
    top: 78%;
    left: 59%; 
    transform: translate(-50%, -50%); 
}

h1 {
    margin-bottom: 20px;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
    font-weight: 300; 
    text-transform: none;
    letter-spacing: 1px;
    color: #cc0066; 
    text-align: center;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container {
    border: 2px solid #ff80bf; 
    border-radius: 20px;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin: 20px auto; 
}

label {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #cc0066; 
    font-weight: bold;
}

input[type="file"] {
    margin-bottom: 20px;
    background-color: #ff80bf; 
    border: 1px solid #ff80bf;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.1em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="file"]:hover {
    background-color: #e04b7f; 
}

input[type="number"],
input[type="submit"] {
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    background-color: #ff80bf; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1.2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    width: 60px;
}

button[type="submit"] {
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #ff66a3; 
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Global styles */
.background-part{
    background-color: #333;
     border: none;
}

.result-page h1 {
    margin-bottom: 20px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
}

.result-page .scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px; 
    width: calc(100% - 40px); 
}

.result-page .image-container {
    display: inline-block; 
    white-space: nowrap; 
}

.result-page .image-item {
    width: 300px; /* Set a fixed width for each image */
    height: 200px; /* Set a fixed height for each image */
    position: relative; 
    display: inline-block;
}

.result-page .image-item img {
    max-width: 100%; /* Ensure images don't exceed container width */
    max-height: 100%; /* Ensure images don't exceed container height */
    object-fit: cover; /* Ensure images cover the entire container */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.result-page .view-images-button {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a5a8ee;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1em;
    cursor: pointer;
}