<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Matching App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Image Matching App</h1>
    <form action="/search" method="post" enctype="multipart/form-data" class="form-container" onsubmit="showLoader()">
        <label for="reference_image">Reference Image:</label><br>
        <input type="file" id="reference_image" name="reference_image" accept="image/*"><br>
        <input type="hidden" id="dataset_folder" name="dataset_folder" value="data">
        <label for="top_k">Top K:</label><br>
        <input type="text" id="top_k" name="top_k" value="5"><br><br>
        <input type="submit" value="Search">
    </form>
    <div id="loader" style="display: none;">
        <img src="/static/dance2.gif" alt="Loading..." width="120" height="100">

    </div>

    <script>
        function showLoader() {
            document.getElementById('loader').style.display = 'block';
        }
    </script>
</body>
</html>
